.main-board-content {
    .board-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .board-header {
            padding: 8px;

            .board-title-container {
                width: auto;

                .board-title {
                    text-align: left;
                    padding: 0 12px;
                    line-height: rem(32px);
                    margin: 0;
                    font-size: rem(18px);
                    font-family: poppins;
                    border-radius: 3px;
                    transition: .1s ease;

                    &:hover {
                        color: #fff;
                        background-color: rgba(190, 190, 190, 0.329);
                    }
                }

                .board-input-container {
                    order: -1;
                    border-radius: 3px;
                    height: rem(32px);
                    width: fit-content;

                    .el-input__inner {
                        font-family: Poppins;
                        padding: 3px 11px;
                        width: fit;
                        font-size: rem(18px);
                        height: rem(32px);
                        &::placeholder{
                            color: black;
                        }
                    }
                }

                .invite-btn {
                    margin-left: 12px;
                    padding: 3.5px 12px;
                    font-size: rem(14px);

                }

                .board-members{
                    margin-inline-start: 5px;
                }
            }

            .board-menu-btn {
                border-radius: 3px;
                color: #fff;
                background-color: rgba(190, 190, 190, 0.329);
                transition: .1s ease;

                &:hover {
                    background-color: rgba(144, 144, 144, 0.32);
                }

                .board-menu-icn {
                    width: rem(32px);
                    height: rem(32px);
                    justify-content: center;
                    font-size: rem(16px);
                }

                .board-menu-text {
                    padding-right: 12px;
                    font-size: rem(14px);
                }

            }
        }
    }
}

.board {
    flex: 1;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 8px;
    padding-bottom: 8px;


    .add-list-container {
        height: fit-content;
        position: relative;
        order: 1;
        margin-right: 8px;
        margin-left: 4px;
        width: 280px;

        .list-placeholder-container {
            width: 280px;
            background-color: rgba(0, 0, 0, .1);
            border-radius: 3px;

            .list-placeholder {
                padding: 6px 8px;
                color: #ffffff;
                transition: color 85ms ease-in;
                cursor: pointer;

                .svg-container {
                    svg {
                        margin-right: 4px;
                    }

                    .plus {
                        fill: #ffffff;
                    }
                }

                .add-list-text {
                    font-size: rem(16px);
                }

                &:hover {
                    background-color: hsla(0, 0%, 100%, .24);
                }
            }

        }

        .add-list-composer {
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            padding: 4px;
            border-radius: 3px;
            width: 280px;
            background-color: #EBECF0;

            .el-input__inner {
                margin-bottom: 4px;
            }

            .list-controls {
                .el-button--success {
                    padding: 8px 12px;
                    margin-right: 4px;
                }

                .cancel-btn {
                    width: rem(32px);
                    height: rem(32px);
                    justify-content: center;

                    .el-icon-close {
                        font-size: rem(22px);
                    }
                }
            }
        }

    }

    // .list-wrapper{
    //     height: 100%;
    // }
}

.popup-details {
    z-index: 1;
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.64);
    height: 100vh;
    width: 100%;
}


//DnD
.column-ghost {
    cursor: grab;
    transition: transform 0.18s ease;
    transform: rotateZ(5deg);
}

.column-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg);
}

.cards-drop-preview {
    // background-color: rgba(150, 150, 200, 0.1);
    border-radius: 3px;
    max-height: inherit;
}

.smooth-dnd-container.horizontal {
    flex: 1;
    display: flex;
    margin-left: 4px;

    .smooth-dnd-draggable.wrapper {
        width: fit-content;
        margin: 0 4px;
        height: fit-content;
    }
}