.board {
    flex: 1;
    gap: 8px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 8px;
    padding-bottom: 8px;

    &>:first-child {
        margin-left: 8px;
    }

    &>:last-child {
        margin-right: 8px;
    }

    .add-list-container {
        height: fit-content;
        order: 1;
        padding: 0 4px 4px;
        width: 272px;

        .list-placeholder-container {
            width: 272px;

            border-radius: 3px;
            background-color: rgba(0, 0, 0, .1);

            .list-placeholder {
                padding: 6px 8px;
                color: #ffffff;
                transition: color 85ms ease-in;
                cursor: pointer;

                .svg-container {
                    svg {
                        margin-right: 4px;
                    }

                    .plus {
                        fill: #ffffff;
                    }
                }

                .add-list-text {
                    font-size: rem(16px);
                }

                &:hover {
                    background-color: hsla(0, 0%, 100%, .24);
                }
            }

        }

        .add-list-composer {
            padding: 4px;
            border-radius: 3px;
            width: 272px;
            background-color: #EBECF0;

            .el-input__inner{
                margin-bottom: 4px;
            }

            .list-controls {
                .el-button--success {
                    padding: 8px 12px;
                    margin-right: 4px;
                }

                .cancel-btn {
                    width: rem(32px);
                    height: rem(32px);
                    justify-content: center;

                    .el-icon-close {
                        font-size: rem(22px);
                    }
                }
            }
        }

    }

    // .list-wrapper{
    //     height: 100%;
    // }
}

.popup-details {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.5);
    height: 100%;
    width: 100%;
}