.login-page{
    color:$login-font-color;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.44em;
    

    .input, .login-btn{
        width: 80%;
        margin-bottom: 30px;
    }

    .input{
        border: 2px solid #DFE1E6;
        border-radius: 3px;
        outline: none;
    }

    .logo{
        font-size: 25px;
        color:#0f0f0f;
    }
    .logo-first{
        font-weight: bold;
    }

    h2{
        margin-top: 45px;
        color: #5E6C84;
        font-size: 16px;
    }
    
}

.login-section{
    background-color: rgba(120, 121, 124, 0.3);
    border-radius: 3px;
    padding: 25px 40px;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 50px;
    height: 450px;
}