// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }

    ​ &.justify-center {
        justify-content: center;
    }

    ​ &.space-between {
        justify-content: space-between;
    }

    ​ &.space-around {
        justify-content: space-around;
    }
    &.warp{
        flex-wrap: wrap;
    }
}

.space-between{
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
}

.relative{
    position: relative;
}
//Clean

ul.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

​ .clean-textarea {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}
button.clean-btn{
    border:none;
    outline: none;
}

.green{
    background-color: $labelGreen;
}
.yellow{
  background-color: $labelYellow;
 }
.orange{
  background-color: $labelOrange;
 }
.red{
  background-color: $labelRed;
 }
.purple{
  background-color: $labelPurple;
 }
.blue{
  background-color: $labelBlue;
 }
.lime{
  background-color: $labelLime;
 }
.sky{
  background-color: $labelSky;
 }
.pink{
  background-color: $labelPink;
 }
.black{
  background-color: $labelBlack;
 }
 .grey{
    background-color: $labelGrey;
   }



.search{
    .el-input__inner {
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        box-sizing: border-box;
        border-radius: 3px;
        display: block;
        line-height: 20px;
        padding: 8px 12px;
        transition-property: background-color,border-color,box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        
        &:focus{
            // border-color: #409EFF;
            box-shadow: inset 0 0 0 2px #2f6aa5;
            background-color: #ffffff;
            &:hover{
                background-color: #ffffff;
            }
            outline: 0;
        }
        &:hover{
            background-color: #ebecf0;
        }
    }
}
// button[type="success"]{
//     font-family:Arial, sans-serif;
//     box-sizing: border-box;
//     background-color: #5aac44;
//     width: max-content;
//     color: #fff;
//     padding:6px 24px;
//     height: rem(32px);
//     // font-weight: 400;
//     line-height: 20px;
//     font-size: rem(16px);
//     font-weight:none;
//     letter-spacing: 0.8px;
//     &:hover{
//         background-color: #61bd4f;
//     }
    
// }
.el-button--success {
    margin: 8px 4px 0 0;
    span{
        font-family: Arial,sans-serif;
        font-size: rem(16px);
    }
}

// .el-textarea__inner {
//     margin: 4px 0 12px;
// }