.main-layout {
    height: 100vh;

    &#app {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .main-content {
            flex: 1;
            &.container{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                flex:1;
                .main-board-content {
                    overflow: hidden;
                    display: flex;
                    flex:1;
                }
            }

        }
    }

}