.menu-slide-enter-active,
.menu-slide-leave-active {
    transform: translateX(0);
    transition: transform 100ms ease;
}

.menu-slide-enter,
.menu-slide-leave-to {
    transform: translateX(100%)
}

.menu-icn-animation-enter-active,
.menu-icn-animation-leave-active {
    transition: opacity 85s ease;
}

.menu-icn-animation-enter,
.menu-icn-animation-leave-to {
    opacity: 0;
}

.list-animation-enter-active,
.list-animation-leave-active {
    transition: background-color 85ms ease-in, opacity 40ms ease-in
}

.list-animation-enter,
.list-animation-leave-to {
    opacity: 0;
    background-color: hsla(0, 0%, 100%, .24);
}

.list-controls-animation-enter-active,
.list-controls-animation-leave-active {
    transition: margin 85ms ease-in, height 85ms ease-in;
}

.list-controls-animation-enter,
.list-controls-animation-leave-to {
    margin: 0;
    height: 0;
}

.board-composer-animation-enter-active{
        animation: fadeInDown;
        animation-duration: .4s;
}

.board-composer-animation-leave-active {
    animation: fadeOutDown;
    animation-duration: .4s;
    
}

// .board-composer-animation-enter,
// .board-composer-animation-leave-to {

// }