@font-face {
    font-family: Pattaya;
    src: url(~@/assets/fonts/Pattaya-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(~@/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsM;
    src: url(~@/assets/fonts/Poppins-Medium.ttf);
}

