//card details font color from trello
$font-color:#172b4d;

//card actions font color from trello
$card-details-color: #5e6c84;

//login and sign up
$login-font-color: #4d4d4d;
$bckColor:#F9FAFC;

// COLOR PALETTE

$clr1: #026AA7;
$clr2: #3D87C6;
$clr3: #61A4E7;
$clr4: #83C3FF;
$clr5: #A5E3FF;
$clr6: #EFFAFF;
$clr7: #E6F4F1;
$contrastClr: #E09F1F;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;

$labelGreen: #61bd4f;
$labelYellow: #f2d600 ;
$labelOrange: #ff9f1a;
$labelRed: #eb5a46;
$labelPurple: #c377e0;
$labelBlue:#0079bf ;
$labelLime: #51e898;
$labelSky: #00c2e0;
$labelPink: #ff78cb;
$labelBlack: #344563;
$labelGrey:#b3bac5;


$urlsignGreen: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/StripeDiagonal.48c42842a8b8affda92b.svg);
$urlsignYellow: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/WaveSquare.f0eb2a7cad1a79ec67dd.svg);
$urlsignOrange: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/StripeVertical.bff0791556d4eac08e56.svg);
$urlsignRed: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/DotsChecker.c64ade9b1931e459fe77.svg);
$urlsignPurple: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/GrooveDiagonal.983768b586cd7471d756.svg);
$urlsignBlue: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/StripeHorizontal.f337588386c0c0650d4e.svg);
$urlsignLime: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/Scale.3ce802953f7ad2707ebd.svg);
$urlsignSky: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/BrickDiagonal.c08919b70c8238d07403.svg);
$urlsignPink: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/BrickHorizontal.0496dc05c7b746ffbd50.svg);
$urlsignBlack: url(https://a.trellocdn.com/prgb/dist/images/patterns/light/BrickVertical.ce7658e1e8df2de54d00.svg);

