// COLOR PALETTE

$clr1: #026AA7;
$clr2: #3D87C6;
$clr3: #61A4E7;
$clr4: #83C3FF;
$clr5: #A5E3FF;
$clr6: #EFFAFF;
$clr7: #E6F4F1;
$contrastClr: #E09F1F;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;