.time{
    font-size: smaller;
    margin-inline-start: 10px;
}

.user{
    font-weight: bold;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}

.avatar{
    border-radius: 50%;
    height: 40px;
}

.details-container{
    margin-top: 20px;
}

.comment-input{
    margin-inline-start: 10px;
    width: 90%;
}

.activities-list{
    margin-top: 15px;
}