.app-header {
    height: rem(40px);
    justify-content: space-between;
    padding: 8px;
    
    &.boardHeader{
        background-color: rgba(0, 0, 0, .1);
    }

    &.homeHeader{
        background-color: $clr2;
        // background-color: rgb(39, 37, 37);
    }

    .logout-btn{
        font-size: rem(10px);
        font-family: poppinsM;
        background-color: rgba(190, 190, 190, 0.329);
        transition: color 85ms ease-in;
        color: white;
        text-transform: uppercase;
        border-radius: 5px;
        letter-spacing: .046em;
        border:none;
        margin-inline-start: 10px;
        outline:none;

        &:hover{
            background-color: rgba(0, 0, 0, .1);
        }
    }



    .logo {
        margin: 0;
        color: #eeeeee;
        font-size: rem(24px);

        & span{
            font-weight: bold;
        }
    }

    nav {
        &>:not(:last-child) {
            margin-right: 4px;
        }
    }

    .nav-btn {
        color: #eeeeee;
        justify-content: center;
        width: rem(32px);
        height: rem(32px);
        font-size: rem(24px);
        border-radius: 5px;
        padding: rem(4px);
        position: relative;
        background-color: rgba(190, 190, 190, 0.329);
        cursor: pointer;

        .kiwi {
            fill: #eeeeee;
        }

        &:hover {
            background-color: lighten(#B967CD, 4%);
            background-color: rgba(0, 0, 0, .1);
        }
        

    }

}

.app-header {
    img {
        width: 100%;
        position: absolute;
        left: 0;
        top:0;
        transform: translateX(-50%, 0) ;
    }
}