.app-header {
    background-color: $clr2;
    height: rem(40px);
    justify-content: space-between;
    padding: 4px;

    .logout-btn{
        font-size: rem(10px);
        font-family: poppinsM;
        background-color: $clr2;
        transition: color 85ms ease-in;
        color:  #8747C9;
        text-transform: uppercase;
        background: #f0f6f5;
        border-radius: 5px;
        letter-spacing: .046em;
        border:none;
        margin-inline-start: 10px;
        outline:none;
    }

    .logo {
        margin: 0;
        color: #eeeeee;
        font-size: rem(24px);

        & span{
            font-weight: bold;
        }
    }

    nav {
        &>:not(:last-child) {
            margin-right: 4px;
        }
    }

    .nav-btn {
        color: #eeeeee;
        justify-content: center;
        width: rem(32px);
        height: rem(32px);
        font-size: rem(24px);
        border-radius: 5px;
        padding: rem(4px);
        position: relative;
        // background-color: $clr3;
        background-color: #B967CD;
        cursor: pointer;

        .kiwi {
            fill: #eeeeee;
        }

        &:hover {
            background-color: lighten(#B967CD, 4%);
        }
        

    }

}

.app-header {
    img {
        width: 100%;
        position: absolute;
        left: 0;
        top:0;
        transform: translateX(-50%, 0) ;
    }
}