.app-header {
    background-color: $clr1;
    height: rem(40px);
    justify-content: space-between;
    padding: 2px;

    svg {
        fill: black;
    }

    .logo {
        margin: 0;
        color: $clr4;
        font-family: Pattaya, sans-serif;
        font-size: rem(24px);

        &:hover {
            color: $clr5;
        }
    }

    nav {
        &>:not(:last-child) {
            margin-right: 2px;
        }
    }

    .nav-btn {
        width: rem(32px);
        height: rem(32px);
        border-radius: 5px;
        padding: rem(6px);
        position: relative;
        background-color: darken($clr3, 4%);
        cursor: pointer;

        .kiwi {
            fill: $clr2;
        }

        &:hover {
            background-color: lighten($clr2, 4%);
            .kiwi {
                fill: $clr5;
            }
        }
        

    }

}

.app-header {
    img {
        width: 100%;
        position: absolute;
        left: 0;
        top:0;
        transform: translateX(-50%, 0) ;
    }
}