.color-chooser-container{
    .color-chooser-grid{
        padding: 4px;
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: rem(96px);
        .grid-color{
            border-radius: 8px;
            .cover{
                width: 100%;
                height: 100%;

                &:hover {
                    background-color: #ffffff5d;
                }
            }
        }
    }
}