.menu-aside{
    height: 100%;
}

.board-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 10;
    background-color: #f4f5f7;
    width: 339px;
    box-shadow: 0 12px 24px -6px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
    ;

    .board-menu-header {
        padding: 0 12px;

        .board-menu-title {
            line-height: rem(20px);
            font-size: rem(16px);
            border-bottom: 1px solid rgba(9, 30, 66, .13);
            text-align: center;
            box-sizing: border-box;
            display: block;
            padding: 14px 32px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            z-index: 1;
        }
    }

    .close-btn {
        top: 0;
        right: 0;
    }

    .close-btn,
    .back-btn {
        font-size: 20px;
        width: rem(38px);
        height: rem(49px);
        padding: 12px;
        position: absolute;
        z-index: 2;
        justify-content: center;
    }

    .back-btn {
        top: 0;
        left: 0;
    }

    .board-menu-content {
        overflow-x: hidden;
        flex: 1;
        padding: 12px 6px 12px 12px;

        .board-actions:not(:last-child) {
            border-bottom: 1px solid rgba(9, 30, 66, .13);
        }

        .board-actions {
            margin-bottom: 20px;

            li {
                font-size: rem(14px);
                font-weight: bold;
                padding: 6px;
                text-align: left;
                cursor: pointer;
                display: block;
                font-weight: 400;
                padding: 6px 12px;
                position: relative;
                margin: 0 -12px;
                text-decoration: none;
            }
        }
    }
}