.card-details {
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    position: relative;
    padding: 20px;
    margin: 0 auto;
    top: 100px;
    width: 60vw;
    color: $font-color;
    
    .main-card {
        & > * {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
    }

    .editCmp {
        background-color: #a2cffa;
    }

    .nav>* {
        height: 40px;
        width: 200px;
        margin-inline-start: 25px;
    }
    .card-action{
        height: 35px;
        width: 180px;
        background-color: rgb(219, 218, 218);
        padding-inline-start: 5px;
        margin-top: 5px;
        text-align: left;
        border-radius: 5px;

        img{
            width: 25px;
        }
    }

    .card-action:hover {
        background-color: rgb(209, 209, 209);
    }

    .relative{
        position: relative;
    }
}

.card-title{
    font-weight: bold;
    font-size: larger;
}

.description{
    background-color:  rgb(245, 239, 239);
    text-align: left;
    margin-inline-start: 40px;
    width: 90%;
}

.main-content{
    flex:1;
}

textarea {
    resize:none;
    outline: none;
}

.activities-list{
    text-align: left;
}

.activities-list > *{
    width: 100%;
    height: 35px;
}

.action-type{
    text-transform: uppercase;
    text-align: left;
    color: $card-details-color;
    font-weight: bold;
    margin-top: 10px;
    line-height: 3.2;
}

.action-name{
    margin-inline-start: 5px;
}

