.card {
  font-size: rem(14px);
  text-align: left;
  background-color: white;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  color: #172b4d;
  border-radius: 5px;
  margin-bottom: 8px;

  .card-container {
    padding: 6px 8px 2px;
    height: auto;

    .card-title {
      font-weight: 400;
      font-family: sans-serif;
      font-size: rem(14px);
      margin-bottom: 8px;
      color: $card-details-color;
      overflow-wrap: anywhere;
    }

    .card-labels {
      flex-wrap: wrap;

      .card-label {
        border-radius: rem(4px);
        width: rem(40px);
        height: rem(8px);
        margin: 0 4px 4px 0;
      }
    }

    .card-badges {
      max-width: 100%;
      height: fit-content;
      float: left;
      margin-left: -2px;

      &>* {
        display: flex;
        align-items: center;
        border-radius: 4px;

        i {
          display: inline-block;
          font-size: rem(16px);
          padding: 2px;
        }

        .badge-text {
          vertical-align: top;
          display: inline-block;
          font-size: rem(12px);
          line-height: rem(20px);
          padding: 0 4px 0 2px;
        }

        color: #5e6c84;
        margin: 0 4px 4px 0;
        padding: 2px;
      }

      //Due Date

      .due-date {
        order: 1;

        &.done {
          color: #fff;
          background-color: $labelGreen
        }

        &.overdue {
          color: #fff;
          background-color: #EC9488;
        }

        &.due-soon {
          color: #fff;
          background-color: #F2D600;
        }
      }

    }
  }


  //DnD
  .smooth-dnd-container.horizontal {
    overflow-y: auto;
    overflow-x: hidden;
  }

  //colors
  &.green {
    background-color: $labelGreen;
  }

  &.yellow {
    background-color: $labelYellow;
  }

  &.orange {
    background-color: $labelOrange;
  }

  &.red {
    background-color: $labelRed;
  }

  &.purple {
    background-color: $labelPurple;
  }

  &.blue {
    background-color: $labelBlue;
  }

  &.lime {
    background-color: $labelLime;
  }

  &.sky {
    background-color: $labelSky;
  }

  &.pink {
    background-color: $labelPink;
  }

  &.black {
    background-color: $labelBlack;
  }

  & .cover {
    height: 2rem;
    border-radius: 5px 5px 0 0;

  }
}