.layout{
   margin: 0 10px 10px 10px;
}

.edit-container {
   
    font-size: rem(14px);
    width: 280px;
    top: 40px;
    right: -250px;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
    background-color: #fff;
    position: absolute;
    z-index: 2;
    color: #5e6c84;

    .card-actions-header{
        border-bottom: 1px solid rgba(9, 30, 66, .13);
        text-align: center;
        box-sizing: border-box;
        display: block;
        line-height: 40px;
        margin-bottom: 8px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }
    .x-button{
        width: rem(40px);
        height: rem(40px);
        position: absolute;
        top: 0;
        right: 0;
        justify-content: end;
        align-items: center;
        &:hover{
            color: black;
        }

     }

}

.header-title{
    margin: auto;
}

.card-actions-header > *{
    color: $card-details-color;
}
@media (max-width: 1120px) {
    .edit-container {
        position: absolute;
        left:auto;
        right: 0;
    }
}



@media (max-width: 980px) {
    .edit-container {
        position: fixed;
        left:auto;
        top: auto;
        bottom: 0;
        right: 0;
    }
}
