.layout{
   margin: 0 10px 10px 10px;
}

.edit-container {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 4px;
    top: 45px;
    left: 0;
    z-index: 10;
    width:300px;
    box-shadow: -2px 2px 5px 0px rgba(138,131,131,0.75);
    font-size: 14px;
}

.card-actions-header{
    height: 35px;
    border-bottom: 0.5px solid rgb(200, 200, 200);
    margin-bottom: 5px;
    .x-button{
        margin-inline-end: 10px;
    }
}

.header-title{
    margin: auto;
}

.card-actions-header > *{
    color: $card-details-color;
}
