.list-menu-content {
    .action-header {
        font-weight: 700;
        color: #5e6c84;
        font-size: rem(12px);
        line-height: rem(16px);
        margin-top: 12px;
        margin-bottom: 4px;
        display: block;
    }

    .el-button--success {
        // padding: 8px 24px;
        margin: 8px 4px 0 0;
    }

    .el-textarea__inner {
        margin: 4px 0 12px;
    }

    .select-display {
        background-color: rgba(9, 30, 66, .04);
        padding: 6px 12px;
        margin-bottom: 8px;
        border-radius: 3px;
        position: relative;

        :hover {
            background-color: rgba(9,30,66,.08);
        }

        .position-span {
            font-size: rem(12px);
            height: rem(16px);
        }

        .idx-span {
            font-size: rem(14px);
            height: rem(20px);
        }

        .el-input__inner {
            position: absolute;
            bottom: -6px;
            left: -12px;
            height: rem(48px);
            width: 256px;
            opacity: 0;

        }
    }
}