.list {
    width: 272px;
    color: #5e6c84;
    background-color: #EBECF0;
    border-radius: 3px;
    max-height: 100%;
    
    .list-header {
        margin: 0 4px;
        height: rem(40px);
        text-align: left;
        height: auto;
        position: relative;

        .list-title {
            font-size: rem(20px);
            padding: 10px 8px;
            margin: 0;
            max-width: 90%;
            height: auto;
            overflow-wrap: anywhere;
        }

        .list-menu-icn {
            right: 0;
            top: 4px;
            position: absolute;
            width: rem(32px);
            height: rem(32px);
            justify-content: center;
            border-radius: 3px;

            &:hover {
                background: #b8b8b869;
            }

        }
    }

    .card-container {
        gap: 4px;
        padding: 0 4px;
        margin: 0 4px;
        margin-bottom: 8px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;

        }

        &::-webkit-scrollbar-thumb {
            background: #8b8b8b4d;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #b8b8b869;
            border-radius: 6px;
        }

        ::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }
    }

    .add-card-link {
        text-align: left;
        font-size: rem(14px);
        border-radius: 3px;
        flex: 1 0 auto;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        width: 228px;

        &:hover {
            background-color: rgba(9, 30, 66, .08);
            color: #172b4d;
        }

        .el-icon-plus {
            margin-right: 2px;
            font-size: rem(16px);
        }
    }
}