.other-team{
    background-color: rgb(224, 224, 224);
    margin-top: 10px;
    border-radius: 5px;
}

.member-name{
    margin-inline-start: 5px;
}

.members-search{
    width: 100%;
    margin-bottom: 10px;
}

.custom-avatar{
    width: 30px;
}