.color-picker {

    padding: 0 12px 12px;
}
span.color-pick {
    
    display: block;
    cursor: pointer;
    border-radius: 10%;
    height: 32px;
    width: 48px;
    margin: 0 8px 8px 0;
   
    &.picked::after{
        content: '✔';
        color: aliceblue;
        display: flex;
        justify-content: center;
    }
}